<h1>Bonjour! Comfirmez votre email s'il vous plait!</h1>

<p>
    Comfirmez votre email en cliquand sur le lien suivant: <br><br>
    <a href="{{ signedUrl }}">Confirmer mon Email</a>. Ce lien va experer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>